name: tfbackmdb

services:
  webapi:
    image: devprofr/terraform-backend-mongodb:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Application__IsHttpsRedirectionEnabled=false
      - Application__IsOpenTelemetryEnabled=false
      - Application__IsSwaggerEnabled=true
      - ConnectionStrings__MongoDbLocal=mongodb://mongodb:27017/?readPreference=primary&appname=TerraformBackendMongoDbWebApi&directConnection=true&ssl=false
      - Logging__LogLevel__Default=Debug
      - Logging__LogLevel__Microsoft__AspNetCore=Information
      - Logging__LogLevel__Devpro=Debug
      - MongoDb__ConnectionStringName=MongoDbLocal
      - MongoDb__DatabaseName=terraform_backend_dev
    ports:
      - "9001:8080"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:8.2
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db

volumes:
  db-data:
