name: CI
# purpose: Continuous Integration pipeline
# actions: [build, unit test, lint, scan]
# variables: [SONAR_ORG, SONAR_PROJECT_KEY]
# secrets: [SONAR_TOKEN, FOSSA_API_KEY]

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch: {}

concurrency:
  group: "${{ github.ref }}-ci"
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  git-check:
    name: Git
    uses: ./.github/workflows/reusable-git-check.yml

  content-validate:
    name: Markup
    uses: devpro/github-workflow-parts/.github/workflows/reusable-markup-lint.yml@feature/fix-dotnet-build

  code-quality:
    name: Code
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    uses: devpro/github-workflow-parts/.github/workflows/reusable-dotnet-quality.yml@feature/fix-dotnet-build
    with:
      custom-commands: |
        echo "Initialize database (indexes, tenants & users)"
        export MONGODB_URI="mongodb://localhost:27017/terraform_backend_dev"
        ./scripts/tfbeadm create-indexes
        ./scripts/tfbeadm create-user admin admin123 dummy
      extra-vars: |
        Application__IsHttpsRedirectionEnabled="false"
      mongodb-enabled: true
      fossa-enabled: true
      sonar-enabled: true
      sonar-organization: ${{ vars.SONAR_ORG }}
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY }}
      sonar-project-name: Terraform Backend MongoDB
      workflow-parts-version: feature/fix-dotnet-build
    secrets:
      fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}

  image-scan:
    name: Image
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    uses: devpro/github-workflow-parts/.github/workflows/reusable-container-scan.yml@feature/fix-dotnet-build
    with:
      image-definition: "src/WebApi/Dockerfile"
      image-tag: 1.2.${{ github.run_id }}
      image-path: "docker.io/devprofr"
      image-name: terraform-backend-mongodb
      max-high-cves: 0
      max-medium-cves: 0
      neuvector-enabled: true
      trivy-enabled: true
