# title: Demonstration pipeline
# variables: []
# secrets: []
name: Demo

on:
  workflow_dispatch: {}

jobs:
  quick-check:
    name: Quick check
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Checkout workflow parts
        uses: actions/checkout@v5
        with:
          repository: devpro/github-workflow-parts
          ref: feature/sonarlogin
          path: workflow-parts

      - name: Add runner ID to MongoDB Atlas
        uses: ./workflow-parts/mongodb-atlas/add-runner-ip
        with:
          atlas_publickey: ${{ secrets.ATLAS_PUBLIC_KEY }}
          atlas_privatekey: ${{ secrets.ATLAS_PRIVATE_KEY }}
          atlas_groupid: ${{ secrets.ATLAS_GROUP_ID }}
          github_runid: ${{ github.run_id }}

      - name: Cache Terraform plugins
        uses: actions/cache@v5
        with:
          path: |
            ~/.terraform.d/plugin-cache
          key: terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
      # - name: Terraform Init
      #   run: terraform init
