# title: Demonstration pipeline
# variables: []
# secrets: []
name: Demo

on:
  workflow_dispatch: {}

jobs:
  quick-check:
    name: Quick check
    runs-on: ubuntu-latest

    services:
      tfbackend:
        image: devprofr/terraform-backend-mongodb:latest
        env:
          ASPNETCORE_ENVIRONMENT: Development
          Application__IsHttpsRedirectionEnabled: false
          Application__IsOpenTelemetryEnabled: false
          Application__IsSwaggerEnabled: true
          ConnectionStrings__MongoDbDemo: ${{ secrets.TFBACKEND_CONNSTRING }}
          Logging__LogLevel__Default: Debug
          Logging__LogLevel__Microsoft__AspNetCore: Information
          Logging__LogLevel__Devpro: Debug
          MongoDb__ConnectionStringName: MongoDbDemo
          MongoDb__DatabaseName: ${{ secrets.TFBACKEND_DBNAME }}
        # ports:
        #   - 8080:8080

    steps:
      - name: Clone repository
        uses: actions/checkout@v6

      - name: Checkout workflow parts
        uses: actions/checkout@v5
        with:
          repository: devpro/github-workflow-parts
          ref: feature/sonarlogin
          path: workflow-parts

      - name: Add runner ID to MongoDB Atlas
        uses: ./workflow-parts/mongodb-atlas/add-runner-ip
        with:
          atlas_publickey: ${{ secrets.ATLAS_PUBLIC_KEY }}
          atlas_privatekey: ${{ secrets.ATLAS_PRIVATE_KEY }}
          atlas_groupid: ${{ secrets.ATLAS_GROUP_ID }}
          github_runid: ${{ github.run_id }}

      - name: Debug
        run: |
          docker ps
          docker ps -a
          curl http://tfbackend:8080/health

      - name: Cache Terraform plugins
        uses: actions/cache@v5
        with:
          path: |
            ~/.terraform.d/plugin-cache
          key: terraform-${{ hashFiles('**/.terraform.lock.hcl') }}
      - name: Install terraform
        uses: hashicorp/setup-terraform@v3
      # - name: Terraform Init
      #   run: terraform init
