name: Demo
# title: Demonstration pipeline
# variables: []
# secrets: [ATLAS_GROUP_ID, ATLAS_PRIVATE_KEY, ATLAS_PUBLIC_KEY, TFBACKEND_CONNSTRING, TFBACKEND_DBNAME, TFBACKEND_USERNAME, TFBACKEND_USERPWD]

on:
  workflow_dispatch: {}

concurrency:
  group: ${{ github.ref }}-infra
  cancel-in-progress: false

jobs:
  git-check:
    name: Git
    uses: ./.github/workflows/reusable-git-check.yml

  deploy-demo:
    name: Demo
    needs: git-check
    uses: devpro/github-workflow-parts/.github/workflows/reusable-terraform-deployment.yml@66ea6a268db75a8461decb7988894823d4fcc7de
    with:
      environment: demo
      working-directory: samples/local-files
      tfbackend-project: ${{ needs.git-check.outputs.environment_slug }}
    secrets:
      atlas-groupid: ${{ secrets.ATLAS_GROUP_ID }}
      atlas-privatekey: ${{ secrets.ATLAS_PRIVATE_KEY }}
      atlas-publickey: ${{ secrets.ATLAS_PUBLIC_KEY }}
      tfbackend-connstring: ${{ secrets.TFBACKEND_CONNSTRING }}
      tfbackend-dbname: ${{ secrets.TFBACKEND_DBNAME }}
      tfbackend-tenant: ${{ secrets.TFBACKEND_TENANT }}
      tfbackend-username: ${{ secrets.TFBACKEND_USERNAME }}
      tfbackend-userpwd: ${{ secrets.TFBACKEND_USERPWD }}
