name: PKG
# purpose: Continuous Delivery (aka Packaging & Shipping)
# actions: [build, push]
# variables: []
# secrets: [DOCKERHUB_USERNAME, DOCKERHUB_TOKEN]

on:
  push:
    branches: [main]
  workflow_dispatch: {}

jobs:
  git-check:
    name: Git
    uses: ./.github/workflows/reusable-git-check.yml

  image-publication:
    name: Image
    needs: git-check
    if: github.event_name == 'workflow_dispatch' || needs.git-check.outputs.app_changed == 'true'
    permissions:
      id-token: write
      contents: read
    uses: devpro/github-workflow-parts/.github/workflows/reusable-container-publication.yml@66ea6a268db75a8461decb7988894823d4fcc7de
    with:
      create-latest: ${{ github.ref_name == 'main' }}
      image-definition: "src/WebApi/Dockerfile"
      image-name: terraform-backend-mongodb
      image-path: "docker.io/devprofr"
      image-tag: 1.2.${{ github.run_id }}
      workflow-parts-version: 66ea6a268db75a8461decb7988894823d4fcc7de
    secrets:
      container-registry-password: ${{ secrets.DOCKERHUB_TOKEN }}
      container-registry-username: ${{ secrets.DOCKERHUB_USERNAME }}
